@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.miama {
    font-family: "Miama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-variation-settings:
        "slnt" 0;
}

.btn {
    background-color: #E6533C;
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    color: white;
}

body {
    background-color: black;

}


/* navbar */



nav {
    margin: 0px 190px 32px 190px;
    display: flex;
    justify-content: space-between;
}

nav h3 {
    color: #E6533C;
    font-size: 2.1rem;
    font-weight: bolder;
}

nav ul {
    display: flex;
    gap: 47px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

#menu {
    display: none;
}

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 140px 100px 190px;

}

.banner-div2 {
    margin-left: 90px;
}



.banner-title {
    font-size: 4.7rem;
    color: white;
    margin-bottom: 28px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 28px;

}

.banner-btn {
    display: flex;
    gap: 14px;
}

.banner-btn1 {
    background-color: #E6533C;
    border-radius: 20px;
    padding: 16px 46px 16px 46px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

.banner-btn2 {
    background-color: black;
    border-radius: 20px;
    padding: 10px 46px 10px 46px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border: 1px solid white;
}

.banner-info-main1 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(65, 65, 65, 0.6);
    margin-top: -170px;
    margin-left: -80px;
    width: 206px;

    border-radius: 10px;
    padding: 0px 30px 0px 30px;
}

.banner-info-main2 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(65, 65, 65, 0.6);
    margin-top: -380px;
    margin-left: 250px;
    width: 200px;

    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

.banner-number1 {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 0px;
    font-weight: bold;

}

.banner-info1 {
    color: white;
    font-size: 1rem;
    margin-top: 0px;
}

.banner-icon {
    color: #E6533C;
    font-size: 30px;
    margin-top: 15px;
}


/* main */

.habits {
    margin: 10px 198px 100px 198px;
}

.habits-title {
    color: white;
    font-size: 3rem;
    margin-bottom: 14px;
    text-align: center;
}

.habits-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-bottom: 58px;
    text-align: center;
}

.habits-type {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

}

.habits-div {
    text-align: center;
}

.habits-type-img {
    border-radius: 50%;
}

.habits-type-title {
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 6px;


}

.habits-type-description {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
}



.exercise {
    margin: 100px 190px 100px 190px;
    background-color: #222222;
    border-radius: 10px;
}

.exercise-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 165px;

}

.exercise-title {
    color: white;
    font-size: 3rem;
    margin-bottom: 14px;
}

.exercise-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 14px;
}

.exercise-btn {
    padding: 16px 71px 16px 71px;
    background-color: #E6533C;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

.exercise-img {
    width: 100%;
    border-radius: 10px;
}

.bmi-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 190px 10px 190px;
    background-color: rgba(34, 34, 34, 1);

}

.bmi-details table {
    border-collapse: collapse;
    margin: auto;
}

.bmi-details table tr th {
    font-size: 0.8rem;
    padding: 20px 40px;
    border: 1px solid gray;

}

.bmi-details table tr td {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    border: 1px solid gray;

}

.bmi-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 80px;
}

.bmi-table {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.bmi-calculator {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.bmi-calculator-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-bottom: 40px;
}




.calculate-bmi input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    padding: 13px;
    border-radius: 5px;
    margin-top: 10px;
    width: 41%;

}

#full-width {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    padding: 13px ;
    border-radius: 5px;
    margin: 10px auto;
    width: 89%;
    
}

.bmi-btn {
    color: white;
    background-color: #E6533C;
    padding: 12px 70px 12px 70px;
    border: 0px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}





.trainer {
    margin: 88px 190px 88px 190px;


}


.trainer-title {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 14px;
}

.trainer-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 58px;

}

.trainer-details {
    background-color: rgba(255, 255, 255, 0.1);




}

.trainer-div {

    margin: 98px 50px 98px 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;



}




.trainer-img {
    width: 100%;
    height: 335px;
    margin: 20px;
    border-radius: 15px;
    /* padding: 20px; */


}



.trainer-name {
    color: white;
    font-size: 1.2rem;
    margin-top: -80px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.trainer-bio {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-left: 40px;


}


/* footer */

.main-footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 66px 190px 0px 190px;

}

.footer {

    display: flex;
    justify-content: space-between;

}


.footer-title {
    font-size: 4rem;
    color: #E6533C;
    font-weight: bolder;
    margin-bottom: 20px;


}

.footer-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin-top: 0px;
}

.get-started {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 39px;

}

.footer-list {
    margin-top: 0px;
}

.footer-list li {
    list-style: none;
    margin-top: 20px;
    margin-left: 0px;
}

.footer-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

}

.line {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid gray;

}

.footer-last {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    margin-top: 0px;
    text-align: center;
}








@media screen and (max-width:576px) {
    nav ul li {
        display: none;
    }

    #menu {
        display: block;
    }

    nav {
        margin: 0px 10px 0px 10px;
    }

    .banner {
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }

    .banner-div2 {
        margin-left: 0px;
    }

    .banner-title {
        font-size: 3rem;
        color: white;
        margin-bottom: 28px;
    }

    .banner-info-main1 {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(65, 65, 65, 0.6);
        margin-top: -270px;
        margin-left: 0px;
        width: 206px;

        border-radius: 10px;
        padding: 0px 30px 0px 30px;
    }

    .banner-info-main2 {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(65, 65, 65, 0.6);
        margin-top: -360px;
        margin-left: 190px;
        width: 145px;

        border-radius: 10px;
        padding: 0px 10px 0px 10px;
    }


    .habits {
        margin: 10px;
        margin-top: 550px;
    }

    .habits-type {
        flex-direction: column;
    }

    .exercise {
        margin: 66px 10px 60px 10px;
        background-color: #222222;
        border-radius: 10px;
    }

    .exercise-details {
        flex-direction: column;
        gap: 31px;
    }


    .bmi-details {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }

    .calculate-bmi input {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0px;
        padding: 13px;
        border-radius: 5px;
        margin-top: 10px;
        width: 41%;

    }

    #full-width {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0px;
        padding: 13px ;
        border-radius: 5px;
        margin: 10px auto;
        width: 92%;
        
    }
   

    .trainer {
        margin: 88px 10px 88px 10px;


    }

    .trainer-div {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

    }

    .footer {
        flex-direction: column;

    }

    .main-footer {
        padding: 10px 10px 0px 10px;
    }

}